body {
    padding: 20px;
}

.row-grid + .row-grid {
    margin-top: 15px;
}

.nav {
    margin-bottom: 15px;
}

.cellphone {
    padding: 50px;
}

.cellphone img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.previewArea {
    margin-top: 2em;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.input-block-level {
    display: block;
    width: 100px;
    height: 100px;
    min-height: 28px; // Make inputs at least the height of their button counterpart
    .box-sizing(border-box); // Makes inputs behave like true block-level elements
}

.dropzone {
    z-index: 0;
    background-color: #ccc;
    transition: background-color 0.3s;
    padding: 1px 1px 1px 1px !important;
}

#inner-drop {
    height: inherit;
}

.drag {
    z-index: 50;
}

.drop {
    z-index: 0;
}


/* 
Dragbox - Shelf
TODO:Implement responsive photo thumbnails
*/

.shelf {
    vertical-align: center;
    height: 300px;
    width: 96%;
    background-color: #f0f0f0;
    border: dashed 4px transparent;
    border-radius: 4px;
    padding: 20px 10px 20px 10px;
}

#photos {
    margin-left: 10px;
}

#item-1,
#item-2 {
    width: 200px;
    height: 200px;
    background-color: #29e;
    color: white;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.crop-view {
    border: 1px solid lightgreen;
}

.clear_btn {
    width: 6px;
    height: 6px;
    color: red;
}